/*zero style*/
*{
  padding: 0;
  margin: 0;
  border: 0;
  }
  *,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  :focus, :active{outline: none;}
  a:focus, a:active{outline: none;}
  nav, footer, header, aside{display: block;}
  html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }
  input, button, textarea{font-family: inherit; cursor: pointer;}
  label {cursor: pointer;}
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding: 0; border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
  
  /*main*/
  
  .wrapper {
    max-width: 120rem;
    width: 100%;
    height: 100%;
    background: #25282a;
    overflow: hidden;
  }
  .container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 2% 0;
  }
  input {
    display: none;
  }
  .container__slider-control {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    height: 100%;
  }
  .container__slides {
    overflow: hidden;
    height: 80%;
  }
  .container__image {
    width: 100%;
    height: 100%;
    display: flex;
    transition: .5s;
  }
  .container__image div {
    min-width: 100%;
    min-height: 100%;
  }
  .container__image img {
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
  }
  .container__bottom-control {
    display: flex;
    justify-content: space-between;
  }
  .container__description-img {
    width: 50%;
    display: flex;
    overflow: hidden;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .container__description-img span {
    display: block;
    min-width: 100%;
    transition: .5s;
    margin-right: 0.1em;
  }
  .container__controls {
    width: 8.125rem;
  }
  #switch1:checked ~ .container__slider-control .container__image,
  #switch1:checked ~ .container__slider-control span:nth-child(1){
    margin-left: 0;
  }
  
  #switch2:checked ~ .container__slider-control .container__image,
  #switch2:checked ~ .container__slider-control span:nth-child(1){
    margin-left: -100%;
  }
  
  #switch3:checked ~ .container__slider-control .container__image,
  #switch3:checked ~ .container__slider-control span:nth-child(1){
    margin-left: -200%;
  }
  
  #switch4:checked ~ .container__slider-control .container__image,
  #switch4:checked ~ .container__slider-control span:nth-child(1){
    margin-left: -300%;
  }
  
  #switch5:checked ~ .container__slider-control .container__image,
  #switch5:checked ~ .container__slider-control span:nth-child(1){
    margin-left: -400%;
  }
  .active {
    display: flex;
    justify-content: space-between;
  }
  #active .labell{ 
    border-radius: 50%; 
    min-width: 1.5625rem;
    height: 1.5625rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #active label{ 
    border-radius: 50%; 
    display: inline-block; 
    width: 0.8125rem;
    height: 0.8125rem;
    background: #70abff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #active .check{ 
    width: 0.6875rem;
    height: 0.6875rem;
    background: #25282a;
    border-radius: 50%;
    opacity: 0;
  }
  #switch1:checked ~ .container__slider-control .checked1,
  #switch2:checked ~ .container__slider-control .checked2,
  #switch3:checked ~ .container__slider-control .checked3,
  #switch4:checked ~ .container__slider-control .checked4,
  #switch5:checked ~ .container__slider-control .checked5 {
    opacity: 1;
  }
  #active label:hover{ 
    background: #fff;
  }
  #active label:active{ 
    background: rgb(161, 161, 161);
  }
  
  /*media*/
  
  @media (min-width: 1920px) {
    .container__description-img {
      font-size: 2rem;
    }
    .container__description-img {
      width: 60%;
    }
  }
  @media (max-width: 325px) {
    .wrapper {
      max-width: 20rem;
    }
    .container {
      width: 90%;
      align-items: unset;
    }
    .container__slides {
      height: unset;
    }
    .container__bottom-control {
      flex-direction: column-reverse;
      height: 15%;
      row-gap: 5%;
    }
    .container__slider-control {
      width: 100%;
      height: unset;
    }
    .container__controls {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .active {
      width: 45%;
    }
    .container__description-img {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }